* ,*:after,*:before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.back{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0);
    border: 0;

}
.back img{
    border-radius: 100% ;
}
.info-campeon {
    display: flex;
}

.info-campeon > img {
    width: 50%;
    border-width: 3px;
    border-style: solid;
    border-image:
            linear-gradient(
                    to bottom,
                    darkgoldenrod,
                    rgba(0, 0, 0, 0)
            ) 1 100%;

}

.info-campeon > .stats {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.info-campeon > .stats > .head {
    display: flex;
}
.head{
    align-items: center;
}

.head > img {
    width: 120px;
    margin-right: 10px;
}

.skins {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skins h4{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skins h4 img{
    width: 50px;
    vertical-align: center;
}

.skins h4 img:first-of-type{
    transform: rotate(90deg);
}

.skins h4 img:last-of-type{
    transform: rotate(-90deg);
}
.skins >div{
    margin-bottom: 50px;
    width: 33%;
}
.skins ,h2 {
    margin-top: 50px;
    text-align: center;
}


.none{
    display: none;
}

body{
    background-image: url("https://i.pinimg.com/originals/db/bc/1a/dbbc1adc84da2b144430f92b6651bc23.png ");
    background-attachment: fixed;

}
.container{
    font-family: 'Roboto', sans-serif;

    color: white;
    -webkit-box-shadow: 0px 0px 24px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 7px rgba(0,0,0,0.75);
    background: url("https://i.pinimg.com/originals/30/fd/69/30fd692572ede9a8b6dc31f08170a739.png");
    width: 88%;
    margin: 0 auto;

    padding: 10px;
}
.info-campeon  img,.skins > div > img{
    -webkit-box-shadow: 0px 0px 24px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 7px rgba(0,0,0,0.75);
}
summary{
    font-size: xxx-large;
}
